<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-xs-12">
                <div >
                <div id="portrait-cont" class="pull-left">
                  <img class="img-rounded img-responsive pull-left" src="img/about/portrait.png" alt="portait of me">
                </div>
                  <div class="panel-body text-muted text-justify">I am an avid sailor, researcher, and educator.
                    After delivering sailboats for a year and a half in the Pacific, I re-entered academia through the Santa Barbara City College
                    <a href="http://www.sbcc.edu/biologicalsciences/" target="_blank">
                    Biological Sciences</a> program. At SBCC, I tutored several courses
                    and took part in an research internship as a Maxwell Scholar.
                    <br> <br>
                    In the fall of 2014, I transferred to the <a href="https://mcb.berkeley.edu/" target="blank">Molecular & Cell
                    Biology Program</a> at the University of California, Berkeley. I am currently an undergraduate tutor for the UC Berkeley Biophysical Chemistry course and conduct
                    research in the lab of <a href="http://genomics.lbl.gov/" target="_blank">Professor Adam Arkin</a>. During the summer of 2015, I was also an
                    <a href="http://www.amgenscholars.com/" target="_blank">Amgen Scholar</a> in the lab of <a href="http://web.mit.edu/nileslab/" target="_blank">Professor Jacquin Niles</a>
                    at the Massachusetts Institute of Technology.
                    <br><br>
                    Throughout my higher education I have been dedicated to communicating
                    science. I have held teaching positions for all but one year
                    of college and have continually integrated technology into my teaching endeavors. At SBCC, I created
                    a web application to help students learn taxonomy. At UC Berkeley I have been developing
                    a set of video lectures to complement the Biophysical Chemistry course material. And, most recently,
                    I act as a TA for the <a href="https://www.edx.org/course/principles-synthetic-biology-mitx-20-305x" target="_blank">
                    MITx Principles of Synthetic Biology</a> course on edX.
                    <br><br>
                    I am now seeking to enter a doctoral program so that I may continue to conduct synthetic biology research and teach.

                  </div>
                </div>
              </div>
              <!-- Timeline -->
              <div class="col-lg-6 col-xs-12">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                              <h4>Which
                                <br>
                                Graduate
                                <br>
                                Program?
                              </h4>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/cal2.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>University of California, Berkeley <br><small>2014 &mdash; Present</small></h4>
                              </div>
                              <div class="timeline-body">
                                <p><em>In progress:</em> B.A. Molecular & Cell Biology <br>
                                  Emphasis in Biological Chemistry
                                </p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/SBCC.png" alt="">
                          </div>
                          <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Santa Barbara City College <br><small>2011 &mdash; 2014</small></h4>
                            </div>
                              <div class="timeline-body">
                                Transferred from the Biological Sciences Program.
                              </div>
                          </div>
                      </li>
                  </ul>
                  <br>
                  <br>
              </div>
              <hr>
              <div class ="row">
                <div class="col-lg-4 col-xs-1">
                </div>
                <div class="col-lg-4 col-xs-10">
                  <div class="panel">
                    <div class="text-center">
                        <a target="_blank" href="https://github.com/dantheand/latex-cv/blob/master/anderson_d_CV.pdf" class="btn btn-xl btn-block" role="button">Curriculum Vitae</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-xs-1">
                </div>
              </div>
            </div>
        </div>
    </section>
