<!-- Research Section -->
    <section id="research" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">Current research and interests</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <img class="research-img img-circle img-responsive center-block" src="img/research/block_diag.png" alt="control theory in synthetic biology">
                    <h4 class="service-heading">Control Theory Applications in Synthetic Biology</h4>
                    <p class="text-muted text-justify">My current work has been in applying control theory design paradigms to genetic circuit design. Control
                      theory provides a powerful analytical framework for dynamical systems. I am currently using it, in conjuction with MATLAB simulations,
                      to devise new, robust genetic circuits for synthetic biological applications.</p>
                </div>
                <div class="col-md-6">
                    <img class="research-img img-circle img-responsive center-block" src="img/research/tools_n_tech.png" alt="synthetic biology tools">
                    <h4 class="service-heading">New Synthetic Biology Tools and Technologies</h4>
                    <p class="text-muted text-justify">The nascent engineering field of synthetic biology has many unexplored spacess. I am particularly interested in several:
                      analog computation in genetic circuits, multiplexing fluorescent protein output, and creating new and expanding upon current measurement standards.</p>
                </div>
            </div>
        </div>
    </section>
