/*Portrait picture padding*/

#portrait-cont{
  margin: 20px;
  border: 7px solid #d9d9d9;
}

/*Research Images and responsive code*/

.research-img{
  border: 7px solid #d9d9d9;
  width: 150px;
  height: 150px;
}

@media (min-width:768px) {
  .research-img{
    width: 225px;
    height: 225px;
  }
}

/*Modal Stuff*/
#modal-btn{
  margin: 10px 10px;
}

.modal-hr{
  border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
